:root{
   --cor-fundo:#FFFFFF;

   --brasao-azul: #0052a0;
   --brasao-amarelo:#FED81C;
   --brasao-vermelho:#E01818;
   --brasao-marrom:#C66905;
   --brasao-verde:#00722F;
   --brasao-caqui:#B5814B;

   --engrenagem-vermelho:#E34331;
   --engrenagem-laranja:#EF9112;
   --engrenagem-amarelo:#FAC722;
   --engrenagem-verdeclaro:#77B430; 
   --engrenagem-verdemusgo:#5A6B26;
   --engrenagem-violeta:#624C98;
   --engrenagem-roxoclaro:#7E2E87;
   --engrenagem-roxoescuro:#53266A;
   --engrenagem-azulceu:#2297D1;
   --engrenagem-azulmarinho:#1A3963;
   --engrenagem-verdepiscina:#30AE9F;
   --engrenagem-verdejade:#17817A;
}

/* Estilo do header */
header {
  background-color: var(--brasao-azul);
  height: 2cm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/* Estilo do logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo img {
  width: 238px;
  height: auto;
}

/* Estilo do menu */
.menu {
  flex: 1;
  display: flex;
  justify-content: left;
  
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--brasao-azul); /* adiciona transparência */
  border-radius: 10px; /* adiciona bordas arredondadas */

  
}

.menu li {
  margin: 0 1rem;
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:var(--brasao-azul);
  z-index: 1;
}

.menu ul ul li {
  display: block;
}

.menu li:hover > ul {
  display: block;
}

/* Estilo da lupa de busca */
.busca {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.busca input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 0.5rem;
}

.search img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* Media query para dispositivos móveis com largura máxima de 480 pixels */
@media only screen and (max-width: 480px) {
  header {
    height: 1.5cm;
  }
  
  .logo img {
    width: 150px;
  }
  
  .menu {
    display: none;
  }
  
  .search {
    flex: 1;
  }
  
  .search input {
    width: 100%;
  }
}

/*Imagem da página principal*/

  .imagem-cidade {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem-cidade img {
    max-width: 100%;
    max-height: auto;
  }
  
  /*Posicionamento do logo no meio da imagem principal*/

  .imagem-cidade img:last-child {
    position: absolute;
    display: flex;
    max-width: 100px;
  }

  /*Botões para abrir outras páginas*/

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 10px;
    transition: background-image 0.3s ease;
  }
  
  button:hover {
    background-image: #000;
  }
  
  button a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  

  @media only screen and (max-width: 600px) {
    button {
      height: 100px;
      width: 100px;
      margin: 0 5px;
    }
  }

  .red-button {
    background-image: linear-gradient(62deg, #E34331 0%, #FAC722 100%);
  }
  
  .blue-button {
    background-image: linear-gradient(73deg, #624C98 0%, #30AE9F 100%) ;
  }
  
  .green-button {
    background-image: linear-gradient(73deg, #77b430 0%, #2297D1 100%) ;
  }
  
  .yellow-button {
    background-image: linear-gradient(73deg, #002B5B 0%, #ADC2A9 100%) ;
  }


  /*FOOTER */

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--brasao-azul);
    color: #fff;
    padding: 1rem;
  }
  
  .footer-left {
    width: 30%;
  }
  
  .footer-left img {
    width: 90%;
  }
  
  .footer-center {
    text-align: center;
    flex-grow: 1;
    width: 40%;
  }
  
  .footer-right {
    width: 20%;
    text-align: center;
  }
  
  .footer-right a {
    color: #fff;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  
  .fa-facebook-square {
    color: #3b5998;
  }
  
  .fa-youtube {
    color: #ff0000;
  }
  
  .fa-instagram {
    color: #e4405f;
  }
  
  @media only screen and (max-width: 768px) {
    footer {
      flex-wrap: wrap;
    }
  
    .footer-left,
    .footer-center,
    .footer-right {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .footer-right {
      margin-bottom: 0;
    }
  }

  /*inf desenvolvedores*/

  .creditos {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
  }

  
  /*Página de denúncia*/
.denuncia-container{
  display:flex;
  padding-bottom: 50px;
}

.denuncia-foto{
  display: inline-block;
  width: 50%;
  align-items: center;
  padding-left: 90px;
}

  .denuncia-foto img {
    max-width: 400px;
    height: auto;
    border-radius: 5%;
  }

.denuncia-tipos{
  display: inline-block;
  width: 50%;
  align-items: center;
}

  

  /*Bolinhas*/

  .lista-denuncia {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 400px; /* Largura máxima da lista de denúncias */
  }
  
  .bolinha {
    display: inline-block;
    width: 100px; /* Largura da bolinha e do texto */
    height: 100px; /* Altura da bolinha */
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
    text-align:center;
    line-height: 1.2;
    color: white;
    background-image: linear-gradient(to bottom right, #ff000083, #ff8c00); /* Cor vermelha com gradiente para laranja para Descarte irregular de resíduos sólidos */
  }
  
  .marrom {
    background-image: linear-gradient(to bottom right, #7711b3, #e3f309); /* Cor marrom com gradiente para marrom avermelhado para Corte ilegal de árvores */
  }
  
  .cinza {
    background-image: linear-gradient(to bottom right, #808080, #ec6dbc); /* Cor cinza com gradiente para cinza escuro para Poluição do ar */
  }
  
  .azul {
    background-image: linear-gradient(to bottom right, #0080ff, #0000ff); /* Cor azul com gradiente para azul escuro para Poluição da água */
  }
  
  .laranja {
    background-image: linear-gradient(to bottom right, #ffa500, #ffd700); /* Cor laranja com gradiente para amarelo para Contaminação do solo */
  }
  
  .roxo {
    background-image: linear-gradient(to bottom right, #800080, #4b0082); /* Cor roxo com gradiente para azul escuro para Maus tratos a animais */
  }
  
  .preto {
    background-image: linear-gradient(to bottom right, #000000, #696969); /* Cor preta com gradiente para cinza escuro para Outros */
  }
  
  

  /*área do email*/

  .denuncia-email {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
  }
  
  .denuncia-email h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .denuncia-email form {
    display: flex;
    flex-direction: column;
  }
  
  .denuncia-email label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .denuncia-email input[type="text"],
  .denuncia-email input[type="email"],
  .denuncia-email textarea {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .denuncia-email input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .denuncia-email input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  